h1, h2, h3, h4, p {
  font-family: verdana;
}

h1 {
  text-align: center;
  border-bottom: dotted lightgrey;
  line-height: 1.5;
}

#overview_pg {
  font-size: 20px;
}

img {
  display: block;
  float: left;
  padding: 20px;
  width: 300px;
}

h4 {
  font-size: medium;
}

p {
  color: #4b4b4b;
}

